.icon {
  padding: 5px;
  font-size: 32px;
}

.icon:hover {
  box-shadow: 2px 4px gainsboro;
  background-color: lightblue;
}

.menu {
  height: 100vh;
}

ul {
  margin: 0px;
}

.menu ul {
  text-decoration: none;
  padding: 0px;
}

.menu ul li {
  list-style-type: none;
}

.list {
  text-decoration: none;
  list-style: none;
}

.list li {
  padding: 2px 0px;
}

.card-bg {
  /* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */

}

.close-icon {
  font-size: "26px";
  color: rgb(190, 54, 54);
  padding: 5px;
}

.close-icon:hover {
  cursor: pointer;
  box-shadow: 0 3px 3px 0 black;
}

.show:hover,
.trash:hover {
  cursor: pointer !important;
  /* box-shadow: 0 3px 3px 0 black !important; */
}

.login-div,
.signup-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_icon,
.signup_icon {
  padding: 11px;
  background: gainsboro;
  width: 35px
}

@media (max-width:576px) {
  /* small */
  .signup-body,
  .login-body {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
  }
  .card-body {
      padding: 0 !important;
  }
}

@media (min-width:576px) {
  /* medium */
  .signup-body,
  .login-body {
      width: 85%;
      margin-left: auto;
      margin-right: auto;
  }
}